.row{
    padding-top: 50px
}

.form-tap .btn{
    width: 50%;
    font-size: 25px;
}
.form-tap .btn{
    border-color: #10BBB3;
    border-style: solid; 
    cursor: pointer;
}
.form-tap .btn:nth-of-type(1){
    border-radius: 10px 0 0 0;
    border-width: 2px 0 0 2px;
}
.form-tap .btn:nth-of-type(2){
    border-radius: 0 10px 0 0;
    border-width: 2px 2px 0 0;
}
.form-tap .active{
    background-color: #10BBB3;
    color: #ffffff;
}
form{
    width: 100%;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 0 0 15px 15px;
    border-color: #10BBB3;
    border-width: 0 2px 2px 2px;
    border-style: solid;
}